* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

:root {
    --bg-color: #f6f7fb;
    --white: #fff;
    --img-text-color: #023047;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color);
}

.container {
    background-color: var(--white);
    padding: 2rem 7rem;
    border-radius: 1rem;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

.result-images {
    display: flex;
    column-gap: 7rem;
}

.container.start.user-images {
    animation: userShake 0.5s ease infinite;
}

@keyframes userShake {
    50% {
        transform: translateY(10px);
    }
}

.container.start.cpu-images {
    animation: cpuShake 0.5s ease infinite;
}

@keyframes cpuShake {
    50% {
        transform: translateY(10px);
    }
}

.result-images img {
    width: 250px;
}

.user-images {
    transform: rotate(180deg);
}

.result {
    text-align: center;
    font-size: 2rem;
    margin-top: 1.5rem;
    font-weight: 700;
    color: var(--img-text-color);
}

.option-images {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 2.5rem;
}

.option-image {
    width: 80px;
    opacity: 0.5;
    transition: opacity 0.3s ease;
    cursor: pointer;
}

.option-image img {
    pointer-events: none;
    width: 80px;
}

.option-image:hover {
    opacity: 1;
}

.option-image.active {
    opacity: 1;
}

.option-image p {
    text-align: center;
    font-size: 1.1rem;
    color: var(--img-text-color);
    font-weight: 500;
}