* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

:root {
    --bg-color: #f6f7fb;
    --white: #fff;
    --p-color: #023047;
}

body {
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    background-color: var(--bg-color);
}

body, .result-images, .option-images{
    display: flex;
}

body, .option-images{
    align-items: center;
}

.container {
    background-color: var(--white);
    padding: 2rem 7rem;
    border-radius: 1rem;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

.result-images {
    column-gap: 7rem;
}

.container.start .user-images{
    animation: userShake 0.5s ease infinite;
}

@keyframes userShake {
    50% {
        transform: translateY(10px);
    }
}

.container.start .cpu-images {
    animation: cpuShake 0.5s ease infinite;
}

@keyframes cpuShake {
    50% {
        transform: translateY(10px);
    }
}

.result-images img {
    width: 250px;
}

.user-images img {
    transform: rotate(-180deg);
}

.result {
    font-size: 2rem;
    margin-top: 1.5rem;
    font-weight: 700;
    color: var(--p-color);
}

.result, .option-image p{
    text-align: center;
}

.option-images {
    justify-content: space-evenly;
    margin-top: 2.5rem;
}

.option-image {
    opacity: 0.5;
    transition: 0.3s ease;
    cursor: pointer;
}

.option-image, .option-image img{
    width: 80px;
}

.option-image img {
    pointer-events: none;
}

.option-image:Hover, .option-image.active{
    opacity: 1;
}

.option-image p {
    font-size: 1.1rem;
    color: var(--p-color);
    font-weight: 500;
}